.navMainHeading {
    i {
        cursor: pointer;
        margin: 0 8px;
    }
}

.statContainer {
    padding: 0.1rem 1.25rem;
}

.statDetails {
    display: flex;
    flex-direction: column;
}

// Fix the rounded corners in modals
:global(.modal-content .block) {
    margin-top: -2px;
}
